*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
    background-color: #0a3cce;
}
@font-face {
    font-family: a;
    src: url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
}
#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1 nav{
    position: absolute;
    height: 10vh;
    width: 100vw;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
#page1 nav img{
    margin-top: 2vw;
    width: 6%;
}
#right-nav button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid white;
    color: #fff;
    font-family: a;
    font-size: 15px;
}
.bottom-page1{
    position: absolute;
    height: 35vh;
    width: 50vw;
    bottom: 5%;
    left: 10%;
}
.bottom-page1 h1{
    font-family: a;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}
.bottom-page1-inner{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
    display: flex;
    font-family: a;
    align-items: center;
    gap: 1.5vw;
}
.bottom-page1-inner button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 16px;
    font-family: a;
}
.bottom-page1-inner h4{
    font-size: 1.3vw;
    font-weight: 100;
    color: #fff;
}
#page2{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
    position: relative;
    font-family: a;
    padding-left: 3.5vw;
    
}
#page2 h2{
    color: #fff;
    margin-bottom: 2.5vw;
    font-weight: 100;
}
#page2 h1{
    font-weight: 100;
    line-height: 1.3;
    width: 80%;
    font-size: 4vw;
    color: #ffffff9b;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
#page3 canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page4{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#page4 h3{
    margin-left: 12vw;
    margin-bottom: 1.6vw;
    font-size: 2vw;
    color: #fff;
}
#page4 h1{
    margin-left: 16vw;
    width: 70%;
    font-size: 3.2vw;
    font-weight: 100;
    color: #ffffff9b;
}
#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page5 canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}
#page6{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#page6 h2{
    margin-left: 12vw;
    font-size: 2vw;
    color: #fff;
    margin-bottom: 1.6vw;
}
#page6 h1{
    width: 70%;
    margin-left: 16vw;
    font-weight: 125;
    font-size: 3.2vw;
    line-height: 1.2;
    color: #ffffff9a;
}
#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page7 canvas{
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
}
#page7-cir{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vw;
    width: 20vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9;
    border: 1px solid #fff;
}
#page7-cir-inner{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
#page8 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page8 #page8-button{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#page8 #page8-button h1{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2vw;
    font-size: 4vw;
    font-weight: 100;
}
#page8 #page8-button button{
    text-transform: capitalize;
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #0a3cce;
}
#page9{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
}
#left9{
    position: relative;
    height: 100%;
    width: 40%;
}
#left9 h1{
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
    line-height: 1.2;
}
#right9{
    position: relative;
    height: 100%;
    width: 60%;
}
#right9 #right9-center{
    height: 50%;
    width: 85%;
    background-color: #000;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 5%;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page10 #right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}
#page10 #right10 .right10-inner{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 33.3%;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}
.right10-inner h1{
    font-size: 2vw;
}
.right10-inner p{
    font-size: 1.4vw;
    width: 80%;
    margin-top: 2vw;
}
#page13{
    position: relative;
    height: 50vh;
    width: 100vw;
    color: #fff;
    background-color: #121212;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 7vw 10vw;
}
#page13 h1{
    text-transform: uppercase;
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}
#page13 button{
    text-transform: capitalize;
    padding: 15px 30px;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    border-radius: 50px;
    margin-top: 2vw;
}
#page14{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #121212;
}
.page14-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-family: a;
    height: 33.3%;
    position: relative;
    border-top: .5px solid #ffffff91;
    border-bottom: .5px solid #ffffff91;
}
.page14-inner i{
    position: relative;
    z-index: 9999;
    font-size: 2.4vw;
    color: #fff;
    font-weight: 100;
}
.page14-inner h1{
    color: #fff;
    font-size: 2vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}
.center14{
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease .5s;
}
.page14-inner:hover .center14{
    height: 100%;
}